<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <title>MyBlogs</title>
  </head>

  <body>
    <%- include('partials/header') %>
    <div class="container-fluid home-container">
      <h1 class="homeInfo">WELCOME TO <strong>MyBlogs</strong></h1>
      <h4 style="text-align: center;"><%= messageIfEmpty %></h4>
      <!-- Form -->
      <form action="/deletePost" method="post">
      <div class="postContainer">
        <% newBlogPost.forEach((newPost)=>{%>
        <h3 class="blogTitle"><%= newPost.title %></h3>
        <h4 class="hideContent homeBlog">
          <%= newPost.post.slice(0, 150) %>
          <a href="/post/<%= newPost.title %>" id="readMore">..READ MORE</a>
          <button class="postDeleteButton" value='<%= newPost.title %>' name='postDelete' onClick="this.form.submit()">DELETE</Button>
        </h4>
        <%})%>
      </div>
    </form>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
